@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@ViewData["Voted"]
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can sign up, log in and vote for who you think should get Atiesh.</a>.</p>
</div>
